@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@keyframes float {
  0%, 100% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(-20px) rotate(3deg);
  }
}

.animate-float {
  animation: float 6s ease-in-out infinite;
}

:root {
  --yellow: #E6551E;
  --yellow-hover: #C44A1A;
  --yellow-light-hover: #FFF4F0;
  --yellow-light-default: #FFFBF9;
  --yellow-light-active: #FFE5D9;
  --bg-0: #FFF9F6;
  --bg-1: #FFFFFF;
  --bg-2: #FFF1EA;
  --bg-3: #F7EDE7;
  --text-0: rgba(32, 31, 38, 1);
  --text-1: rgba(32, 31, 38, 0.8);
  --text-2: rgba(32, 31, 38, 0.6);
  --text-3: rgba(32, 31, 38, 0.35);
  --brand-0: #FFFBF9;
  --brand-1: #FFF4F0;
  --brand-2: #FFE5D9;
  --brand-3: #FFD4C2;
  --brand-4: #FFC2A6;
  --brand-5: #E6551E;
  --brand-6: #C44A1A;
  --brand-7: #A23D15;
  --brand-8: #7F2F10;
  --brand-9: #5D220B;
  --royal-0: #F3F6FF;
  --royal-1: #E4EBFF;
  --royal-2: #C6D4FF;
  --royal-3: #9FB5FF;
  --royal-4: #6D8BFF;
  --royal-5: #4169E1;
  --royal-6: #2F54C5;
  --royal-7: #23409F;
  --royal-8: #1B2F73;
  --royal-9: #14224F;
  --grey-0: #f9f9f9;
  --grey-1: #ecedef;
  --grey-2: #c7c7ce;
  --grey-3: #a9a8b1;
  --grey-4: #8c8b95;
  --grey-5: #6f6e78;
  --grey-6: #5a5864;
  --grey-7: #45444f;
  --grey-8: #32313b;
  --grey-9: #201f26;
  --disabled-fill: rgba(50, 49, 59, 0.04);
  --free: #027c3f;
  --plus: #ff7b00;
  --pro: #984be6;
  --enterprise: #0075ae;
  --gradient-orange: #ff9a3c;
  --gradient-red: #ff2c36;
  --gradient-royal: #4169E1;

  --toaster-width: 25rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --yellow-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --success: oklch(68.98% 0.18 142.61);
  --destructive: oklch(64.35% 0.234 27.12);
  --warning: oklch(72.49% 0.187 49.83);
  --info: oklch(63.87% 0.194 253.73);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: var(--bg-0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-yellow: oklch(0.205 0 0);
  --sidebar-yellow-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --yellow-hover: #C44A1A;
  --yellow-light-hover: rgba(230, 85, 30, 0.3);
  --yellow-light-default: rgba(230, 85, 30, 0.2);
  --bg-0: #0B0F14;
  --bg-1: #151A21;
  --bg-2: #1E2530;
  --bg-3: #272F3A;
  --text-0: rgba(249, 249, 249, 1);
  --text-1: rgba(249, 249, 249, 0.8);
  --text-2: rgba(249, 249, 249, 0.6);
  --text-3: rgba(249, 249, 249, 0.35);
  --brand-0: #5D220B;
  --brand-1: #7F2F10;
  --brand-2: #A23D15;
  --brand-3: #C44A1A;
  --brand-4: #E6551E;
  --brand-5: #FFC2A6;
  --brand-6: #FFD4C2;
  --brand-7: #FFE5D9;
  --brand-8: #FFF4F0;
  --brand-9: #FFFBF9;
  --royal-0: #14224F;
  --royal-1: #1B2F73;
  --royal-2: #23409F;
  --royal-3: #2F54C5;
  --royal-4: #4169E1;
  --royal-5: #6D8BFF;
  --royal-6: #9FB5FF;
  --royal-7: #C6D4FF;
  --royal-8: #E4EBFF;
  --royal-9: #F3F6FF;
  --grey-0: #201f26;
  --grey-1: #32313b;
  --grey-2: #45444f;
  --grey-3: #5a5864;
  --grey-4: #6f6e78;
  --grey-5: #8c8b95;
  --grey-6: #a9a8b1;
  --grey-7: #c7c7ce;
  --grey-8: #e7e7ea;
  --grey-9: #f9f9f9;
  --disabled-fill: rgba(231, 231, 234, 0.04);

  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: var(--bg-0);
  --popover-foreground: oklch(0.985 0 0);
  --yellow-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: var(--grey-1);
  --accent-foreground: oklch(0.985 0 0);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-yellow: oklch(0.488 0.243 264.376);
  --sidebar-yellow-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@theme inline {
  --color-yellow: var(--yellow);
  --color-yellow-hover: var(--yellow-hover);
  --color-yellow-light-hover: var(--yellow-light-hover);
  --color-yellow-light-default: var(--yellow-light-default);
  --color-yellow-light-active: var(--yellow-light-active);
  --color-bg-0: var(--bg-0);
  --color-bg-1: var(--bg-1);
  --color-bg-2: var(--bg-2);
  --color-bg-3: var(--bg-3);
  --color-text-0: var(--text-0);
  --color-text-1: var(--text-1);
  --color-text-2: var(--text-2);
  --color-text-3: var(--text-3);
  --color-brand-0: var(--brand-0);
  --color-brand-1: var(--brand-1);
  --color-brand-2: var(--brand-2);
  --color-brand-3: var(--brand-3);
  --color-brand-4: var(--brand-4);
  --color-brand-5: var(--brand-5);
  --color-brand-6: var(--brand-6);
  --color-brand-7: var(--brand-7);
  --color-brand-8: var(--brand-8);
  --color-brand-9: var(--brand-9);
  --color-royal-0: var(--royal-0);
  --color-royal-1: var(--royal-1);
  --color-royal-2: var(--royal-2);
  --color-royal-3: var(--royal-3);
  --color-royal-4: var(--royal-4);
  --color-royal-5: var(--royal-5);
  --color-royal-6: var(--royal-6);
  --color-royal-7: var(--royal-7);
  --color-royal-8: var(--royal-8);
  --color-royal-9: var(--royal-9);
  --color-grey-0: var(--grey-0);
  --color-grey-1: var(--grey-1);
  --color-grey-2: var(--grey-2);
  --color-grey-3: var(--grey-3);
  --color-grey-4: var(--grey-4);
  --color-grey-5: var(--grey-5);
  --color-grey-6: var(--grey-6);
  --color-grey-7: var(--grey-7);
  --color-grey-8: var(--grey-8);
  --color-grey-9: var(--grey-9);
  --color-disabled-fill: var(--disabled-fill);
  --color-free: var(--free);
  --color-plus: var(--plus);
  --color-pro: var(--pro);
  --color-enterprise: var(--enterprise);
  --color-gradient-orange: var(--gradient-orange);
  --color-gradient-red: var(--gradient-red);
  --color-gradient-royal: var(--gradient-royal);
  --color-background: var(--bg-0);
  --color-foreground: var(--foreground);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--grey-1);
  --color-sidebar-yellow-foreground: var(--sidebar-yellow-foreground);
  --color-sidebar-yellow: var(--sidebar-yellow);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--bg-0);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-success: var(--success);
  --color-warning: var(--warning);
  --color-info: var(--info);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-yellow-foreground: var(--yellow-foreground);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --font-sans: var(--font-geist-sans);
  --text-xss: 0.625rem;
  --text-2_5xl: 1.75rem;

  --animate-aurora: aurora 60s linear infinite;
  @keyframes aurora {
    from {
      background-position:
        50% 50%,
        50% 50%;
    }
    to {
      background-position:
        350% 50%,
        350% 50%;
    }
  }

  --animate-shine: shine var(--duration) infinite linear;
  @keyframes shine {
    0% {
      background-position: 0% 0%;
    }
    50% {
      background-position: 100% 100%;
    }
    to {
      background-position: 0% 0%;
    }
  }
  --animate-ping2: ping2 1s linear infinite;
  @keyframes ping2 {
    0% {
      transform: scale(0);
      opacity: 1;
    }

    100% {
      transform: scale(1);
      opacity: 0;
    }
  }
  --animate-shine: shine 5s linear infinite;
  @keyframes shine {
    0% {
      background-position: 100%;
    }
    100% {
      background-position: -100%;
    }
  }

  --animate-breathe: breathe 2s ease-in-out infinite;
  @keyframes breathe {
    0%,
    100% {
      opacity: 0.4;
    }
    50% {
      opacity: 1;
    }
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-bg-0 text-text-0;
  }
  button {
    @apply cursor-pointer;
  }
}

@utility animation-delay-* {
  animation-delay: --value(integer) ms;
}

@utility scrollbar-hidden {
  &::-webkit-scrollbar {
    display: none;
  }
}

.simplebar-scrollbar.simplebar-visible::before {
  opacity: 1;
  background-color: var(--border) !important;
}

.simplebar-scrollbar:before {
  background-color: var(--border) !important;
  inset: 0.1875rem !important;
}

.react-datepicker {
  color: var(--text-0) !important;
  border: 1px solid var(--grey-1) !important;
  overflow: hidden !important;
}
.react-datepicker__header {
  color: var(--text-0) !important;
  background-color: var(--grey-0) !important;
  border-radius: 0 !important;
  border: none !important;
}
.react-datepicker__monthPicker {
  padding: 1.25rem 0 !important;
  margin: 0 !important;
  background-color: var(--grey-0) !important;
}
.react-datepicker__triangle {
  fill: var(--grey-0) !important;
  color: var(--grey-0) !important;
  stroke: var(--grey-1) !important;
}
.react-datepicker__month-text--keyboard-selected {
  color: var(--bg-0) !important;
  background-color: var(--text-0) !important;
}
.react-datepicker__month-text:hover {
  color: #000 !important;
  background-color: var(--text-1) !important;
}

.picker-dialog-bg {
  z-index: 1001 !important;
}

.picker-dialog {
  z-index: 1011 !important;
}

.drag-preview {
  position: absolute;
  left: -9999px;
  z-index: -999;

  img {
    width: 240px;
    height: 130px;
    border-radius: 6px;
  }

  .count {
    position: absolute;
    top: -10px;
    left: -5px;
    background-color: red;
    color: white;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
  }
}

.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

@keyframes aui-pulse {
  50% {
    opacity: 0.5;
  }
}

:where(.memories-md[data-status="running"]):empty:after,
:where(.memories-md[data-status="running"])
  > :where(:is(ol, ul):last-child)
  > :where(li:last-child)
  > :where(:is(ol, ul):last-child)
  > :where(li:last-child)
  > :where(:is(ol, ul):last-child)
  > :where(li:last-child):after,
:where(.memories-md[data-status="running"])
  > :where(:is(ol, ul):last-child)
  > :where(li:last-child)
  > :where(:is(ol, ul):last-child)
  > :where(li:last-child:not(:has(* > li))):after,
:where(.memories-md[data-status="running"])
  > :where(:is(ol, ul):last-child)
  > :where(li:last-child:not(:has(* > li))):after,
:where(.memories-md[data-status="running"])
  > :where(:not(ol):not(ul):not(pre)):last-child:after,
:where(.memories-md[data-status="running"]) > pre:last-child code:after {
  animation: aui-pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  --aui-content: "\25cf";
  content: var(--aui-content);
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}
